<div class="container">
  <h2 class="project-title">HTML Wireframes</h2>

  <div id="example1"> <!-- erToc -->

    <div class="partial">
      <h1 class="main-header">layouts</h1>
      <%= partial "layouts" %>
    </div>

    <div class="partial">
      <h1 class="main-header">font_face</h1>
      <%= partial "font_face" %>
    </div>

    <div class="partial">
      <h1 class="main-header">icon_menu</h1>
      <%= partial "icon_menu" %>
    </div>

    <div class="partial">
      <h1 class="main-header">aside_menu</h1>
      <%= partial "aside_menu" %>
    </div>

    <div class="partial">
      <h1 class="main-header">logo_section</h1>
      <%= partial "logo_section" %>
    </div>

    <div class="partial">
      <h1 class="main-header">accordion</h1>
      <%= partial "accordion" %>
    </div>

    <div class="partial">
      <h1 class="main-header">accordion_tabs</h1>
      <%= partial "accordion_tabs" %>
    </div>

    <div class="partial">
      <h1 class="main-header">button_group</h1>
      <%= partial "button_group" %>
    </div>

    <div class="partial">
      <h1 class="main-header">button_icon</h1>
      <%= partial "button_icon" %>
    </div>

    <div class="partial">
      <h1 class="main-header">bullet_points</h1>
      <%= partial "bullet_points" %>
    </div>

    <div class="partial">
      <h1 class="main-header">breadcrumbs</h1>
      <%= partial "breadcrumbs" %>
    </div>

    <div class="partial">
      <h1 class="main-header">cards</h1>
      <%= partial "cards" %>
    </div>

    <div class="partial">
      <h1 class="main-header">checkout_steps</h1>
      <%= partial "checkout_steps" %>
    </div>

    <div class="partial">
      <h1 class="main-header">comment</h1>
      <%= partial "comment" %>
    </div>

    <div class="partial">
      <h1 class="main-header">dashboard_item</h1>
      <%= partial "dashboard_item" %>
    </div>

    <div class="partial">
      <h1 class="main-header">drag_and_drop</h1>
      <%= partial "drag_and_drop" %>
    </div>

    <div class="partial">
      <h1 class="main-header">dropdown</h1>
      <%= partial "dropdown" %>
    </div>

    <div class="partial">
      <h1 class="main-header">expander</h1>
      <%= partial "expander" %>
    </div>

    <div class="partial">
      <h1 class="main-header">footer</h1>
      <%= partial "footer" %>
    </div>

    <div class="partial">
      <h1 class="main-header">footer_flex_sticky</h1>
      <%= partial "footer_flex_sticky" %>
    </div>

    <div class="partial">
      <h1 class="main-header">grid</h1>
      <%= partial "grid" %>
    </div>

    <div class="partial">
      <h1 class="main-header">hero</h1>
      <%= partial "hero" %>
    </div>

    <div class="partial">
      <h1 class="main-header">hover_map</h1>
      <%= partial "hover_map" %>
    </div>

    <div class="partial">
      <h1 class="main-header">hover_menu</h1>
      <%= partial "hover_menu" %>
    </div>

    <div class="partial">
      <h1 class="main-header">intro_text</h1>
      <%= partial "intro_text" %>
    </div>

    <div class="partial">
      <h1 class="main-header">login</h1>
      <%= partial "login" %>
    </div>

    <div class="partial">
      <h1 class="main-header">login_stacked</h1>
      <%= partial "login_stacked" %>
    </div>

    <div class="partial">
      <h1 class="main-header">modal</h1>
      <%= partial "modal" %>
    </div>

    <div class="partial">
      <h1 class="main-header">navigation</h1>
      <%= partial "navigation" %>
    </div>

    <div class="partial">
      <h1 class="main-header">navigation_centered</h1>
      <%= partial "navigation_centered" %>
    </div>

    <div class="partial">
      <h1 class="main-header">pagination</h1>
      <%= partial "pagination" %>
    </div>

    <div class="partial">
      <h1 class="main-header">price_slider</h1>
      <%= partial "price_slider" %>
    </div>

    <div class="partial">
      <h1 class="main-header">product_detail_view</h1>
      <%= partial "product_detail_view" %>
    </div>

    <div class="partial">
      <h1 class="main-header">search_bar</h1>
      <%= partial "search_bar" %>
    </div>

    <div class="partial">
      <h1 class="main-header">select</h1>
      <%= partial "select" %>
    </div>

    <div class="partial">
      <h1 class="main-header">switch</h1>
      <%= partial "switch" %>
    </div>

    <div class="partial">
      <h1 class="main-header">tables</h1>
      <%= partial "tables" %>
    </div>

    <div class="partial">
      <h1 class="main-header">tooltip</h1>
      <%= partial "tooltip" %>
    </div>

    <div class="partial">
      <h1 class="main-header">tooltip_map</h1>
      <%= partial "tooltip_map" %>
    </div>

    <div class="partial">
      <h1 class="main-header">vertical_tabs</h1>
      <%= partial "vertical_tabs" %>
    </div>

    <div class="partial">
      <h1 class="main-header">vertical_split</h1>
      <%= partial "vertical_split" %>
    </div>

    <div class="partial">
      <h1 class="main-header">video</h1>
      <%= partial "video" %>
    </div>

    <div class="partial">
      <h1 class="main-header">scroll_on_page</h1>
      <%= partial "scroll_on_page" %>
    </div>

    <div class="partial">
      <h1 class="main-header">sliding_panel</h1>
      <%= partial "sliding_panel" %>
    </div>

    <div class="partial">
      <h1 class="main-header">spinner</h1>
      <%= partial "spinner" %>
    </div>


    <div class="partial">
      <h1 class="main-header">progress</h1>
      <progress value="22" max="100"></progress>
    </div>
    
    <div class="partial">
      <h1 class="main-header">images</h1>
      <img src="/images/placeholder_square.svg" alt="">
      <img src="/images/placeholder_wide.svg" alt="">
      <img src="/images/placeholder_square_small.svg" alt="">
    </div>
  </div>
</div>

<div class="partial">
  <p>video behind hero</p>
  <p>hover in different directions (and move to other side if close to edge)</p>
  <p>button with arrowbutton dropdown on the right side</p>
  <p>button row with content area below, or to the right</p>
  <p>two buttons with arrows, left and right. for bottom of lists</p>
  <p>map</p>
  <p>tag cloud</p>
  <p>textarea</p>
  <p><a href="http://codepen.io/andreasstorm/pen/bBFgK">datepicker</a></p>
  <p>harvest choose? chosen?</p>
  <p>Populate a table</p>
  <p>pricing</p>
  <p>thumb carousel ecommerce</p>
  <p>graphs</p>
  <p>different heroes</p>
</div>

<form action="">
  <input name="name_here" type="radio">
  <label for="">Yes</label>
  <input name="name_here" type="radio">
  <label for="">No</label>
</form>

<input type="checkbox">
<label for="">Hej</label>
